<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% if session[:counter] >= 5 %>
<p>You have accessed the catalog <%= pluralize session[:counter], 'time' %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>
  <% cache ['store', Product.latest] do %>
    <% @products.each do |product| %>
      <% cache ['entry', product] do %>
        <div class="entry">
          <%= link_to(image_tag(product.image_url), line_items_path(product_id: product), method: :post)%>
          <!-- image_tag() is a helper method; generates HTML <img> tag using its argument as the image source -->
          <h3><%= product.title %> </h3>
          <%= sanitize(product.description) %>
          <!-- sanitize() method allows us to safely add HTML stylings to make descriptions more interesting; potential security hole -->
          <div class="price_line">
            <span class="price"><%= number_to_currency(product.price) %> </span>
            <!-- We have to pass the ID of the product corresponding to the button so that line_items_path knows WHICH PRODUCT to add to cart -->
            <%= button_to 'Add to cart', line_items_path(product_id: product),
            remote: true %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

